<div class="client">
    <img src="/images/{{ imgPath }}">
    <p>{{firstName}} {{lastName}}{{#if alias}}, also known as {{alias}},{{/if}} is a client in our facility. He has been with us for {{service}}, and is expected to be here until {{end}}. He loves our sevices and recommends them to his friends.</p>
</div>