<div class="guard">
    <img src="/images/{{ imgPath }}">
    <p>{{firstName}} {{lastName}} is a {{guardTitle}} in our team. He has {{service}} of experience. He knows how to take care of you.</p>
</div>